{% extends "index.html" %}

{% block main_content %}
{% set projects = load_data(path="data/projects.toml") %}
<main class="projects-page">
    <div class="title">
        <h1 class="title">{{ page.title }}</h1>
    </div>

    <section class="projects-section">
        <div class="projects-section-header">
            <h2>Active builds</h2>
            <span>{{ projects.active | length }} projects</span>
        </div>
        <ul class="project-list">
            {% for project in projects.active %}
            <li class="project-list-item">
                <time>{{ project.start }}</time>
                <div class="project-list-content">
                    <a href="{{ project.url }}" target="_blank" rel="noopener noreferrer">{{ project.title }}</a>
                    <p>{{ project.description }}</p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </section>

    <section class="projects-section">
        <div class="projects-section-header">
            <h2>Archived projects</h2>
            <span>{{ projects.archived | length }} projects</span>
        </div>
        <ul class="project-list">
            {% for project in projects.archived %}
            <li class="project-list-item">
                <time>{{ project.start }}</time>
                <div class="project-list-content">
                    <a href="{{ project.url }}" target="_blank" rel="noopener noreferrer">{{ project.title }}</a>
                    <p>{{ project.description }}</p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </section>
</main>
{% endblock main_content %}
